<?xml version="1.0" encoding="UTF-8"?>
<FaceRecognition>
    <Connection>
        <Ip>192.168.0.95</Ip>
        <Port>80</Port>
        <MuinPort>3332</MuinPort>
    </Connection>
    <Classifier>
        <Sensibility>95</Sensibility>
        <Red>4</Red>
        <Green>96</Green>
        <Blue>128</Blue>
        <CR_min>6</CR_min>
        <CR_max>8</CR_max>
        <PC_number>7</PC_number>
        <PlateRec>
            <DbaseLen>22</DbaseLen>
        </PlateRec>
    </Classifier>
</FaceRecognition>
